
@media screen and (max-width: 992px) {
  body {
    main {
      .newArrivals {
        i {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  body {
    main {
      .newArrivals {
        .information {
          .title {
            font-size: 24px;
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    main {
      .mostPopular {
        .information {
          text-align: center;
          padding: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1690px;
  }
}
@media screen and (max-width: 920px) {
  a {
    width: 100%;
    height: 100%;
    .icon-zoom {
      display: none;
    }
  }
}

@media only screen and (max-width: 1027px) {
  .menu {
    display: none;
  }
  .roww {
    &::before{
      content: url(../icons/shopping-bag-solid.svg);
      position: absolute;
      width: 17px;
      height: 22px;
      right: 3%;
      top: 35%;
    }
    &::after{
      content: url(../icons/user-regular.svg);
      position: absolute;
      width: 27px;
      height: 22px;
      top: 35%;
      right: 6%;
      padding-right: 10px;
    }
    text-align: center;
    .item-right {
      display: none !important;
    }
  }
  .header-item {
    padding-left: 390px;
   
  }
  .hamburger-menu{
    display: block !important;
    position: absolute;
    top: 35%;
    left: 5%;
  }
}
@media only screen and (max-width: 800px){
  .header-item {
    padding-left: 270px;
  }
}
@media only screen and (max-width: 595px){
  .header-item {
    padding-left: 180px;
  }
}
@media only screen and (max-width: 468px){
  .header-item {
    padding-left: 70px;
  }
}
@media only screen and (max-width: 1167px) {
  .item-right {
    padding-right: 15px;
  }
}
@media screen and(max-width:576px) {
  .loginTitle {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 1220px) {
  .menu {
    .menu-main {
      li {
        height: 40px;
      }
    }
  }
}
@media only screen and (max-width: 965px){
  .carousel-1{
    top: 14% !important;
  }
  .carousel-2{
    top: 2% !important;
  }
  .carousel-3{
    top: 1% !important;
  }
}
@media (max-width: 1100px){
  .footer-copyright{
    text-align: center;
  }
}
@media (max-width: 767px) {
  [class*='links']{display: none};

  .item-2 {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .heading {
    padding-bottom: 10px;
    border-bottom: 1px solid #787878;
    
    &::after {
      content: attr(data-content)'+';
      position: absolute;
      right: 0px;
    }
    
  }

}
