.container{
    max-width: 1690px;
    margin-left: 30px;
    padding-right: 30px;
}
.header-middle{
    display: flex;
    flex-wrap: nowrap;
}
.header-middle-left{
    display: flex;
    align-items: center;
    align-items: baseline;
}
.site-nav{
    display: flex;
    list-style: none;
}
a{
    color: black;

}
.site-header-logo-image{
    width: 190px;
    display: inline-block;

    padding: 5px 0px;
}
.header-middle-right{
    display: flex;
}
img{
    max-width: 100%;
}